@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}

nav h1 {
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.onglets {
    margin-top: 3px;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://i.ibb.co/vHmDMP6/image.png');
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 200px;

}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin: 20px;
}

header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border: none;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    float: right;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 5000px;
    border: 15px solid rgb(255, 197, 71);
}

.main .content .card .left {
    flex: 80% ;
    padding: 80px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.main .content .card .cent {
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: rgb(255, 0, 0);
}

.main .content .card .right img {
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

footer {
    margin-top: 4px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;
    ;
}

footer h1 {
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}

footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .main .card {
        margin: 10px;
    }

    .main .content .card .right img {
        height: 200px;
        width: 100%;
        margin-top: -0px;
    }

    .main .content .card {
        display: block;
    }

    footer {
        padding: 30px;
    }
}


form {
    
    border-radius: 100px;
    //display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgb(255, 197, 71);
    flex: 80% ;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;  
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    padding: 10px 5px;
    box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
    /*

    border-radius: 100px;

    flex-wrap: wrap;
    justify-content: center;
    border: 15px solid rgb(255, 197, 71);

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    padding: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */

}

form .label {
    font-size: 20px;
    color: #000;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 300px;
}

form .groupe {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #000000;
    outline-color: #747cdf;
    border-radius: 50px;
}

form .groupe i {
    position: absolute;
    /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
}

form .droite {
    margin-left: 40px;
}

form .groupe {
    height: 100%;
}

form .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}

form .pied-formulaire input {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 920px) {
    form .corps-formulaire .droite {
        margin-left: 0px;
    }
}

.menu{
    margin-top: -100px;
}

.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}

.menu .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #111;
}

.menu .contenu .box .text h3{
    font-weight: 400;
}
.contact{
    //background-image: url(./images/img-form.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.8);
    width: 100%;
    background-position: unset;
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}
.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}


.temoignage{
    //background-image: url(./images/bg2.jpg);
    background-size: cover;
}

.temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text{
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.temoignage .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}
.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-image: url(./images/pageheader-banner.jpg);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #ffff;
    font-size: 1.2em;
}
.back{
   /* background-image: url(https://i.ibb.co/DppGDwm/image.png);
    height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
